language: python
python:
  - 3.4
env:
  matrix:
    - CI_TARGET=pytests
    - CI_TARGET=vim
    - CI_TARGET=neovim VROOM_ARGS=--neovim
before_install:
  - if [ $CI_TARGET != vim ]; then
      pip install neovim;
    fi
install:
  - python setup.py -q install
before_script:
  - if [ $CI_TARGET = vim ]; then
      sudo apt-get install vim-gnome;
      export DISPLAY=:99.0;
      sh -e /etc/init.d/xvfb start;
    elif [ $CI_TARGET = neovim ]; then
      eval "$(curl -Ss https://raw.githubusercontent.com/neovim/bot-ci/master/scripts/travis-setup.sh) nightly-x64";
    fi
script:
  - if [ $CI_TARGET = pytests ]; then
      nosetests --with-doctest;
    else
      vroom $VROOM_ARGS --crawl ./examples/;
    fi
matrix:
  fast_finish: true
  allow_failures:
    - env: CI_TARGET=neovim VROOM_ARGS=--neovim
